<div class="card text-white bg-dark my-3">
    <div class="card-header">
        <h2 class="card-title text-center">Mes Projets</h2>
    </div>
    <div class="card-body align-items-center">
        <div class="main-timeline">
            <div class="timeline right">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Développement d'une application web de gestion de routines de fitness
                        </h4>
                        <h6 class="card-subtitle mb-2 text-muted">2024 (1 semaine) - individuel</h6>
                        <p class="card-text">Node.js<br>Angular<br>TypeScript</p>
                    </div>
                </div>
            </div>
            <div class="timeline left">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Conception et développement d'une application web dynamique</h4>
                        <h6 class="card-subtitle mb-2 text-muted">2023 (3 mois) - 5 personnes</h6>
                        <p class="card-text">HTML5<br>CSS3<br>PHP<br>Organisation de projet (SCRUM)</p>
                    </div>
                </div>
            </div>
            <div class="timeline right">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Développement d'une application de gestion d'une agence bancaire</h4>
                        <h6 class="card-subtitle mb-2 text-muted">2023 (1 mois) - équipe de 3 personnes</h6>
                        <p class="card-text">Java<br>JavaFX<br>SQL</p>
                    </div>
                </div>
            </div>
            <div class="timeline left">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Création et exploitation d'une base de données</h4>
                        <h6 class="card-subtitle mb-2 text-muted">2023 (2 semaines) - équipe de 2 personnes</h6>
                        <p class="card-text">SQL Oracle</p>
                    </div>
                </div>
            </div>
            <div class="timeline right">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Installation de services réseaux</h4>
                        <h6 class="card-subtitle mb-2 text-muted">2023 (1 mois) - équipe de 3 personnes</h6>
                        <p class="card-text">Script Shell<br>Bash<br>Linux</p>
                    </div>
                </div>
            </div>
            <div class="timeline left">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Création d'un site web CV</h4>
                        <h6 class="card-subtitle mb-2 text-muted">2022 (1 semaine) - individuel</h6>
                        <p class="card-text">HTML5<br>CSS3</p>
                    </div>
                </div>
            </div>
            <div class="timeline right">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Installation d'un poste de développement</h4>
                        <h6 class="card-subtitle mb-2 text-muted">2022 (1 mois) - équipe de 3 personnes</h6>
                        <p class="card-text">Unix<br>Script Shell<br>Système d'exploitation</p>
                    </div>
                </div>
            </div>
            <div class="timeline left">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Recueil de besoins de l'entreprise YBC Coiffure pour un site web</h4>
                        <h6 class="card-subtitle mb-2 text-muted">2022 (1 semaine) - équipe de 3 personnes</h6>
                        <p class="card-text">Évaluation des besoins<br>Cahier des charges fonctionnel</p>
                    </div>
                </div>
            </div>
            <div class="timeline right">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Développement d'une application permettant de contrôler un robot</h4>
                        <h6 class="card-subtitle mb-2 text-muted">2022 (1 mois) - individuel</h6>
                        <p class="card-text">SDK Android<br>Arduino/C++<br>Cahier de charges fonctionnel</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card text-white bg-dark my-3">
    <div class="card-header">
        <h2 class="card-title text-center">Mes Expériences Professionnelles</h2>
    </div>
    <div class="card-body align-items-center">
        <div class="main-timeline">
            <div class="timeline right">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Stage développement d'une API - SPIX Industry<br>Labège (31)</h4>
                        <h6 class="card-subtitle mb-2 text-muted">2024 (8 semaines)</h6>
                        <p class="card-text">Écriture de programmes d'exemples pour l'utilisation de l'API SPIX
                            (assitant vocal)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>