<div class="card text-white bg-dark my-3">
    <div class="card-header">
        <h2 class="card-title text-center">Mes Contacts</h2>
    </div>
    <div class="card-body text-center space-between">
        <a class="btn btn-outline-light m-3" href="https://github.com/bastos-rcd" target="_blank">
            <h2 class="m-auto"><i class="fa-brands fa-github"></i></h2>
        </a>
        <a class="btn btn-outline-light m-3" href="https://www.linkedin.com/in/bastien-record/" target="_blank">
            <h2 class="m-auto"><i class="fa-brands fa-linkedin"></i></h2>
        </a>
        <a class="btn btn-outline-light m-3" href="https://www.instagram.com/bastos_rcd/" target="_blank">
            <h2 class="m-auto"><i class="fa-brands fa-instagram"></i></h2>
        </a>
        <a class="btn btn-outline-light m-3" href="mailto:record.bastien@gmail.com" target="_blank">
            <h2 class="m-auto"><i class="fa-solid fa-envelope"></i></h2>
        </a>
        <a class="btn btn-outline-light m-3" href="tel:+33643627848" target="_blank">
            <h2 class="m-auto"><i class="fa-solid fa-phone"></i></h2>
        </a>
    </div>
</div>