<div class="card text-white bg-dark my-3">
    <div class="card-header">
        <h2 class="card-title text-center">Mon Parcours</h2>
    </div>
    <div class="card-body align-items-center">
        <div class="main-timeline">
            <div class="timeline left">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">IUT Blagnac - Université Toulouse 2</h4>
                        <h6 class="card-subtitle mb-2 text-muted">2022 - 2025</h6>
                        <p class="card-text">BUT Informatique<br>Parcours A</p>
                    </div>
                </div>
            </div>
            <div class="timeline right">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Lycée Vincent Auriol - Revel (31)</h4>
                        <h6 class="card-subtitle mb-2 text-muted">2020 - 2022</h6>
                        <p class="card-text">BAC STI2D<br>Option SIN</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>