---
import Title from "@/components/title.astro";
import ContactCard from "@/components/contact/contact-card.astro";

interface Props {
  i18n: any;
}
const { i18n } = Astro.props;
---

<section
  id="contact"
  class="w-11/12 md:w-3/4 flex flex-col justify-center items-center gap-y-4 md:gap-y-6"
>
  <Title title={i18n.TITLE} />

  <div
    class="w-full flex flex-wrap justify-center items-center gap-x-8 gap-y-8"
  >
    {i18n.LIST.map((contact: any) => <ContactCard contact={contact} />)}
  </div>
</section>
