---

---

<a id="language" class="hover:scale-110 transition-transform duration-300">
  <img src="/img/translate.webp" class="w-8" />
</a>

<script>
  const languageLink = document.getElementById("language") as HTMLLinkElement;

  const currentUrlLanguage = window.location.pathname.split("/")[1];

  if (currentUrlLanguage) {
    languageLink.href = `/${currentUrlLanguage === "fr" ? "en" : "fr"}`;
  } else {
    languageLink.href = "/en";
  }
</script>
