---
import Layout from "@/layouts/layout.astro";

import Header from "@/components/header/header.astro";

import { useI18n } from "@/i18n";
import Home from "./Home.astro";

const { currentLocale } = Astro;
const i18n = useI18n({ currentLocale });
---

<Layout title={i18n.SEO.TITLE}>
  <main class="w-full flex flex-col items-center gap-y-10">
    <Header />

    <!--
    <Home />
    <Education />
    <Skills />
    <Projects />
    <About />
    <Contact />
    <Footer /> 
    -->
  </main>
</Layout>
