---
import Layout from "../layouts/Layout.astro";

import Header from "./Header.astro";
import Footer from "./Footer.astro";

import Home from "./Home.astro";
import Education from "./Education.astro";
import Skills from "./Skills.astro";
import Projects from "./Projects.astro";
import About from "./About.astro";
import Contact from "./Contact.astro";

import { useI18n } from "../i18n";

const { currentLocale } = Astro;
const i18n = useI18n({ currentLocale });
---

<Layout title={i18n.SEO.TITLE}>
  <main class="w-full flex flex-col items-center gap-y-10 md:gap-y-20">
    <Header />

    <Home />
    <Education />
    <Skills />
    <Projects />
    <About />
    <Contact />

    <Footer />
  </main>
</Layout>
