---

---

<a
  id="language"
  class="text-base md:text-lg hover:scale-125 transition-transform duration-300"
>
  <img src="/img/translation.webp" class="w-6 md:w-8" />
</a>

<script>
  const languageLink = document.getElementById("language") as HTMLLinkElement;

  const currentUrlLanguage = window.location.pathname.split("/")[1];

  if (currentUrlLanguage) {
    languageLink.href = `/${currentUrlLanguage === "fr" ? "en" : "fr"}`;
  } else {
    languageLink.href = "/en";
  }
</script>
