@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

:root {
	--black: #09090b;
	--white: #f4f4f5;

	--red: #f87171;
	--yellow: #fdba74;
	--green: #6ee7b7;
	--blue: #60a5fa;
	--violet: #e879f9;
}

html,
body {
	margin: 0;
	padding: 0;

	background-color: var(--background);
	font-family: 'Outfit', sans-serif;
	color: var(--white);

	font-size: 16px;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 20px;
}

@media (max-width: 640px) {
	html,
	body {
		font-size: 12px;
	}

	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 16px;
	}
}
