<div class="card bg-dark mt-5">
    <div class="card-body text-center">
        <div class="row align-items-center">
            <div class="col-sm">
                <img src="../assets/self.png" class="img-thumbnail rounded-circle" style="max-width: 50%;">
            </div>
            <div class="col-sm my-5">
                <h4 class="card-title">Bastien Record</h4>
                <p class="card-text">Bonjour, je m'appelle Bastien Record, j'ai 19 ans et je suis actuellement en BUT
                    Informatique à l'IUT de Blagnac.</p>
            </div>
        </div>
        <a href="../../assets/CV.pdf" download="CV_RECORD.pdf" class="btn btn-primary">
            <i class="fa-regular fa-circle-down"></i> Télécharger mon CV
        </a>
    </div>
</div>